.container{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  height: 700px;
  width: 680px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-inline: auto;

  

}
.top-header{
  flex: 1;
  
 background-color: skyblue;
 text-align: center;
 justify-content: center;
}
.mainlayout{
  flex:4;
  background-color: white;
  display: flex;
  gap: 4px;
}
.related-box{
  flex:1.4;
 
  display: flex;
  gap: 4px;
}
.footer{
  text-align: center;
  flex: 1;
  background-color:darkgoldenrod;
}

  
.leftside{
  flex:2;
  background-color:white;
  display: flex;
  flex-direction: column;
  gap: 4px;

}
.rightside{
  flex: 3;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.hero{
  background-color:lightpink;
  flex:0.8;
  text-align: center;

}
.sidebar{
background-color:lightgreen;
  flex:1.2;
  text-align: center;
}
.main-content{
flex: 2;
background-color: darkgoldenrod;
text-align: center;
}
.extra-content{
  text-align: center;
flex: 1;
background-color: grey;
}
.related-img{
  text-align: center;
  flex:1;
background-color: green;
}
.related-posts{
flex: 0.4;
text-align: center;
background-color: lightpink;
}
h2{
  font-family: sans-serif;
  color: white;
}





